<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    {{!-- meta for seo and sharing --}}
    <meta property="og:url" content="{{pageUrl}}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{briefData.title}}" />
    <meta property="og:description" content="{{userData.footer_description}}" />
    <link rel="image_src" type="image/png" src="/images/complecities_logo.png" />
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    {{!-- flexslider css and js --}}
    <link rel="stylesheet" href="/flexslider/css/flexslider.css">
    <script type="text/javascript" src="/flexslider/jquery/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/flexslider/jquery/jquery.fitvid.js"></script>
    <!-- font styles -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/brief.css">
    <link rel="stylesheet" href="/css/general.css">
    <!-- favicon -->
    <link rel="icon" href="/images/complecities_short_logo.png">
    <!-- page title -->
    <title>Complecities || {{briefData.marker_title}}</title>
</head>

<body>

    {{!-- navbar --}}
    <nav class="navbar navbar-white bg-white py-2" id="navbar-container">
        <div class="container justify-content-center">

            <a class="navbar-brand" href="/">
                <img src="/images/complecities_logo.png" id="complecities-logo" alt="complecities logo">
            </a>

        </div>
    </nav>

    {{!-- brief data --}}
    <main class="container my-5" id="brief-container">

        {{!-- brief title --}}
        <div class="brief-content-container">
            <p class="head-font" id="brief-title"> {{briefData.title}} </p>
        </div>

        {{!-- user image, name and brief date --}}
        <div class="brief-content-container">

            {{#if userPresent}}

            <div id="user-image-wrapper">
                {{#each userData.image}}
                <img id="user-image" src="/uploads/{{this.filename}}" alt="{{this.filename}}">
                {{/each}}
            </div>

            <span>
                <p class="head-font" id="user-name">
                    {{userData.name}},
                </p>
            </span>

            {{else}}

            <div id="user-image-wrapper">
                <img id="user-image" src="/images/default_user_image.png" alt="user image">
            </div>

            <span>
                <p class="head-font" id="user-name">
                    Foram Desai,
                </p>
            </span>

            {{/if}}

            <span>
                <p class="head-font" id="brief-date"> {{briefDate}} </p>
            </span>

        </div>

        {{!-- brief flexslider --}}
        <div id="brief-flexslider">
            <div class="flexslider">
                <ul class="slides">

                    {{#each briefData.media}}

                    {{#isVideo this.mimetype}}

                    <li class="flexslider-item">
                        <video controls class="flexslider-video">
                            <source src="/uploads/{{this.filename}}" type="{{this.mimetype}}">
                            Your browser does not support this video.
                        </video>
                        {{#getFilename this.originalname}}
                        <p class="flex-caption head-font"> {{justName}} </p>
                        {{/getFilename}}
                    </li>

                    {{else}}

                    <li class="flexslider-item">
                        <img src="/uploads/{{this.filename}}" class="flexslider-image" alt="{{this.filename}}" />
                        {{#getFilename this.originalname}}
                        <p class="flex-caption head-font"> {{justName}} </p>
                        {{/getFilename}}
                    </li>

                    {{/isVideo}}

                    {{/each}}

                </ul>
            </div>
        </div>

        {{!-- brief para --}}
        <div class="para-font" id="brief-para">

            {{{briefData.brief}}}

        </div>

        {{!-- section end hr --}}
        <div id="section-end-hr">
            <hr>
        </div>

        {{!-- share brief --}}
        <div id="share-brief">
            <ul class="list-inline">

                <li class="list-inline-item" id="icon-linkedin">
                    <a class="icons-link" href="https://www.linkedin.com/sharing/share-offsite/?url={{pageUrl}}"
                        target="_blank">
                        <i class="mr-5 fab fa-linkedin share-icons cursor-pointer" title="Share on Linkedin"></i>
                    </a>
                </li>

                <li class="list-inline-item share-icons-li" id="icon-twitter">
                    <a class="icons-link"
                        href="https://twitter.com/intent/tweet?url={{pageUrl}}&text={{briefData.title}}&via=&hashtags=Complecities"
                        target="_blank">
                        <i class="fab fa-twitter share-icons cursor-pointer" title="Share on Twitter"></i>
                    </a>
                </li>

                <li class="list-inline-item share-icons-li" id="icon-facebook">
                    <a class="icons-link" href="https://www.facebook.com/sharer.php?u={{pageUrl}}" target="_blank">
                        <i class="fab fa-facebook share-icons cursor-pointer" title="Share on Facebook"></i>
                    </a>
                </li>

                <li class="list-inline-item share-icons-li" id="icon-copy-link">
                    <a class="icons-link" onclick="copyUrl();">
                        <i class="fa fa-share-alt share-icons cursor-pointer" title="Share Url"></i>
                    </a>
                </li>

                <li class="list-inline-item share-icons-li float-right" id="icon-mindmap">
                    <a class="icons-link" href="/">
                        <i class="fas fa-brain share-icons cursor-pointer" title="Go to Mindmap!"></i>
                    </a>
                </li>

            </ul>
        </div>

        {{!-- section end hr --}}
        <div id="section-end-hr">
            <hr>
        </div>

    </main>

    {{!-- footer --}}
    <footer class="page-footer font-small footer-container">
        <div class="container">
            <div class="head-font row text-center d-flex justify-content-center pt-5 mb-3">

                <div class="col-md-2 mb-3">

                    <h6 class="text-uppercase font-weight-bold" id="footer-mindmap-link">
                        <a class="footer-main-links" href="/">Mindmap</a>
                    </h6>

                </div>

            </div>

            <hr class="rgba-white-light bg-white" id="footer-hr-style">

            <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
                <div class="col-md-8 col-12 my-4 text-light">

                    <p class="para-font" id="footer-description-style">
                        {{userData.footer_description}}
                    </p>

                </div>
            </div>

            <hr class="clearfix d-md-none rgba-white-light" id="footer-hr2-style">

            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3 flex-center text-center text-light">

                        <a id="footer-icon-linkedin" href="{{userData.linkedin}}"
                            class="text-decoration-none social-icons" target="_blank">
                            <i class="fab fa-linkedin-in fa-lg" title="connect on linkedin!"> </i>
                        </a>
                        <a id="footer-icon-twitter" href="{{userData.twitter}}"
                            class="text-decoration-none social-icons footer-icons-margin" target="_blank">
                            <i class="fab fa-twitter fa-lg" title="connect on twitter!"> </i>
                        </a>
                        <a id="footer-icon-facebook" href="{{userData.facebook}}"
                            class="text-decoration-none social-icons footer-icons-margin" target="_blank">
                            <i class="fab fa-facebook-f fa-lg" title="connect on facebook!"> </i>
                        </a>
                        <a id="footer-icon-instagram" href="{{userData.instagram}}"
                            class="text-decoration-none social-icons footer-icons-margin" target="_blank">
                            <i class="fab fa-instagram fa-lg" title="connect on instagram!"> </i>
                        </a>
                        <a id="footer-icon-pinterest" href="{{userData.pinterest}}"
                            class="text-decoration-none social-icons footer-icons-margin" target="_blank">
                            <i class="fab fa-pinterest fa-lg" title="connect on pinterest!"> </i>
                        </a>
                        <a id="footer-icon-mail"
                            href="https://mail.google.com/mail/?view=cm&to={{{userData.gmail}}}&su=&body=&bcc=&cc="
                            class="text-decoration-none social-icons footer-icons-margin" target="_blank">
                            <i class="fas fa-envelope fa-lg" title="write a mail to me(gmail)!"> </i>
                        </a>

                    </div>
                </div>
            </div>

        </div>

        <div class="footer-copyright text-center py-3 text-light">
            © 2020 Copyright:
            <a href="/">Complecities</a>
        </div>

    </footer>


    {{!-- using hidden input to pass all markers data and brief data to markers.js file and index.js file --}}
    <form>

        <input type="password" class="form-control" id="markerData" value="{{markerData}}" readonly="true"
            hidden="true">
        <input type="password" class="form-control" id="briefData" value="{{briefData}}" readonly="true" hidden="true">

    </form>


    <!-- javascript -->
    <script type="text/javascript" src="/js/brief.js"></script>
    <script type="text/javascript" src="/js/clearconsole.js"></script>

</body>

</html>