<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    {{!-- meta for seo and sharing --}}
    <meta property="og:url" content="{{pageUrl}}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Complecities" />
    <meta property="og:description" content="{{userData.footer_description}}" />
    <link rel="image_src" type="image/png" src="/images/complecities_logo.png" />
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <!-- font styles -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <!-- css -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/general.css">
    <!-- favicon -->
    <link rel="icon" href="/images/complecities_short_logo.png">
    <!-- page title -->
    <title>Complecities || Mindmap</title>
</head>

<body>

    <!-- map -->
    <main>

        <div id="map">

            <!-- setting buttons -->
            <div class="setting-buttons">
                <span data-bs-toggle="modal" data-bs-target="#filterOptionsModal">
                    <button type="button" class="btn btn-outline-dark btn-circle btn-lg mt-4 mb-1 mx-3 custom-shadow"
                        data-bs-toggle="tooltip" data-bs-placement="right" title="Filter Options"
                        onclick="filterOptionModalOptions();">
                        <i class="fa fa-filter" aria-hidden="true"></i>
                    </button>
                </span>
            </div>

            {{#if showSettings}}

            <div class="setting-buttons">
                <button type="button" class="btn btn-outline-dark btn-circle btn-lg mt-3 mb-1 mx-3 custom-shadow"
                    data-bs-toggle="tooltip" data-bs-placement="right" title="Set Location" onclick="setLocation();">
                    <i class="fa fa-map-pin" aria-hidden="true"></i>
                </button>
            </div>

            <div class="setting-buttons">
                <span data-bs-toggle="modal" data-bs-target="#markerOptionsModal">
                    <button type="button" class="btn btn-outline-dark btn-circle btn-lg mt-3 mb-1 mx-3 custom-shadow"
                        data-bs-toggle="tooltip" data-bs-placement="right" title="Marker Options"
                        onclick="markerOptionsModalOptions();">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </button>
                </span>
            </div>

            <div class="setting-buttons">
                <span data-bs-toggle="modal" data-bs-target="#categoryOptionsModal">
                    <button type="button" class="btn btn-outline-dark btn-circle btn-lg mt-3 mb-1 mx-3 custom-shadow"
                        data-bs-toggle="tooltip" data-bs-placement="right" title="Category Options"
                        onclick="categoryOptionsModalOptions();">
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </button>
                </span>
            </div>

            <div class="setting-buttons">
                <span data-bs-toggle="modal" data-bs-target="#markerBriefModal">
                    <button type="button" class="btn btn-outline-dark btn-circle btn-lg mt-3 mb-1 mx-3 custom-shadow"
                        data-bs-toggle="tooltip" data-bs-placement="right" title="Marker Brief"
                        onclick="markerBriefModalOptions();">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                    </button>
                </span>
            </div>

            <div class="setting-buttons">
                <span data-bs-toggle="modal" data-bs-target="#markerBriefUserModal">
                    <button type="button" class="btn btn-outline-dark btn-circle btn-lg mt-3 mb-1 mx-3 custom-shadow"
                        data-bs-toggle="tooltip" data-bs-placement="right" title="User Options"
                        onclick="markerBriefUserOptions();">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </button>
                </span>
            </div>

            {{/if}}

            <!-- marker options modal -->
            <div class="modal fade" id="markerOptionsModal" tabindex="-1" aria-labelledby="markerOptionsModalLabel"
                aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title head-font" id="markerOptionsModalLabel">Marker Options</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                onclick="mapScrollDragEnable();"></button>
                        </div>

                        <form id="markerOptionsForm" class="para-font" action="/" method="POST">

                            {{!-- using hidden input to store id of markers for edit and delete --}}
                            <input type="password" class="form-control" name="markerId" id="marker-id" readonly="true"
                                hidden="true">

                            <div class="modal-body">

                                <div class="row">

                                    <div class="col-3 fs-6 mb-3">
                                        <label class="form-check-label" for="select option">SELECT OPTION:</label>
                                    </div>
                                    <div class="col fs-6 mx-3">
                                        <input class="form-check-input cursor-pointer" type="radio" name="markeroption"
                                            id="add" value="add" checked="true"
                                            onclick="toggleMarkerOptionForms(this.value)">
                                        <label class="form-check-label" for="add">Add</label>
                                    </div>
                                    <div class="col fs-6 mx-3">
                                        <input class="form-check-input cursor-pointer" type="radio" name="markeroption"
                                            id="edit" value="edit" onclick="toggleMarkerOptionForms(this.value)">
                                        <label class="form-check-label" for="edit">Edit</label>
                                    </div>
                                    <div class="col fs-6 ml-3">
                                        <input class="form-check-input cursor-pointer" type="radio" name="markeroption"
                                            id="delete" value="delete" onclick="toggleMarkerOptionForms(this.value)">
                                        <label class="form-check-label" for="delete">Delete</label>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col">
                                        <label id="latlabel" for="latitude" class="form-label fs-6">Lat Dflt 0:</label>
                                        <input id="latitude" name="latitude" type="number" step="any"
                                            class="form-control" placeholder="Enter Latitude" readonly="true"
                                            autocomplete="off" required="true">
                                    </div>
                                    <div class="col">
                                        <label id="langlabel" for="longitude" class="form-label fs-6">Lang Dflt
                                            0:</label>
                                        <input id="longitude" name="longitude" type="number" step="any"
                                            class="form-control" placeholder="Enter Longitude" readonly="true"
                                            autocomplete="off" required="true">
                                    </div>
                                    <div class="col">
                                        <label for="zoom" class="form-label fs-6">Zoom:</label>
                                        <input id="zoom" name="zoom_level" type="number" step="1" min="0" max="6"
                                            class="form-control" placeholder="Zoom Level" autocomplete="off"
                                            required="true">
                                    </div>

                                </div>

                                <div class="form-check form-switch my-2" id="paste-set-location-wrapper">
                                    <input class="form-check-input cursor-pointer" type="checkbox"
                                        id="paste-set-location">
                                    <label class="form-check-label" style="font-size: 13px;"
                                        for="paste-set-location">Paste Set Location</label>
                                </div>

                                <div class="my-2">
                                    <label id="select-title-label" for="select-title" class="form-label fs-6"
                                        hidden="true">Select Title:</label>
                                    <input class="form-control" list="select-title-datalist" id="select-title"
                                        aria-label="select-title" placeholder="Select Title" hidden="true"
                                        disabled="true" onchange="setMarkerOptionsFormData();" autocomplete="off"
                                        required="true" name="title">
                                    <datalist id="select-title-datalist"></datalist>
                                </div>

                                <div class="my-2">
                                    <label id="title-label" for="title" class="form-label fs-6">Title:</label>
                                    <input name="title" type="text" class="form-control" id="title"
                                        placeholder="Enter Title (unique)" autocomplete="off" required="true"
                                        onchange="markerTitleUsed();">
                                    <label id="marker-title-used" class="form-check-label" style="font-size: 13px;"
                                        for="marker-title-used" hidden="true">Title already in use, try something
                                        else!</label>
                                </div>

                                <div class="my-2">
                                    <label id="category-dropdown-label" for="category-dropdown"
                                        class="form-label fs-6">Select Category(s):</label>
                                    <select id="category-dropdown" name="categoryDropdown" class="form-select" multiple
                                        aria-label="category dropdown" autocomplete="off" required="true">
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="description" class="form-label fs-6">Description:</label>
                                    <textarea class="form-control" id="description" name="description"
                                        placeholder="Enter Description" autocomplete="off" required="true"></textarea>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    onclick="mapScrollDragEnable();">Close</button>
                                <button id="marker-options-submit-button" type="submit"
                                    class="btn btn-dark">Submit</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

            <!-- category options modal -->
            <div class="modal fade" id="categoryOptionsModal" tabindex="-1" aria-labelledby="categoryOptionsModalLabel"
                aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title head-font" id="categoryOptionsModalLabel">Category Options</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                onclick="mapScrollDragEnable();"></button>
                        </div>

                        <form id="categoryOptionsForm" class="para-font" action="/" method="POST">

                            {{!-- using hidden input to store id of markers for edit and delete --}}
                            <input type="password" class="form-control" name="categoryId" id="category-id"
                                readonly="true" hidden="true">

                            <div class="modal-body">

                                <div class="row">

                                    <div class="col-3 fs-6 mb-3">
                                        <label class="form-check-label" for="select option">SELECT OPTION:</label>
                                    </div>
                                    <div class="col fs-6 mx-3">
                                        <input class="form-check-input cursor-pointer" type="radio"
                                            name="categoryoption" id="addCategory" value="add" checked="true"
                                            onclick="toggleCategoryOptionForms(this.value);">
                                        <label class="form-check-label" for="addCategory">Add</label>
                                    </div>
                                    <div class="col fs-6 ml-3">
                                        <input class="form-check-input cursor-pointer" type="radio"
                                            name="categoryoption" id="deleteCategory" value="delete"
                                            onclick="toggleCategoryOptionForms(this.value);">
                                        <label class="form-check-label" for="deleteCategory">Delete</label>
                                    </div>

                                </div>

                                <div class="my-2">
                                    <label id="select-category-label" for="select-category" class="form-label fs-6"
                                        hidden="true">Select
                                        Category:</label>
                                    <select id="select-category" class="form-select" name="selectCategory"
                                        aria-label="select-category" onchange="setSelectCategoryId();"
                                        autocomplete="off" required="true" hidden="true">
                                        <option selected>Select Category</option>
                                    </select>
                                </div>

                                <div class="my-2">
                                    <label id="category-label" for="category" class="form-label fs-6">Category
                                        Name:</label>
                                    <input name="category" type="text" class="form-control" id="category"
                                        placeholder="Enter Category (unique)" autocomplete="off" required="true"
                                        onchange="categoryUsed();" maxlength="18">
                                    <label id="category-used-label" class="form-check-label" style="font-size: 13px;"
                                        for="category-used-label" hidden="true">Category already in use, try something
                                        else!</label>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    onclick="mapScrollDragEnable();">Close</button>
                                <button id="category-options-submit-button" type="submit" class="btn btn-dark"
                                    onclick="return categoryOptionsSubmitVerification();">Submit</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

            {{!-- marker brief modal --}}
            <div class="modal fade" id="markerBriefModal" data-bs-focus="false" tabindex="-1"
                aria-labelledby="markerBriefModalLabel" aria-hidden="true" data-bs-backdrop="static"
                data-bs-keyboard="false">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title head-font" id="markerBriefModalLabel">Marker Brief</h5>
                            <button id="marker-brief-cross-button" type="button" class="btn-close"
                                data-bs-dismiss="modal" aria-label="Close" onclick="mapScrollDragEnable();"></button>
                        </div>

                        <div class="modal-body">

                            <form id="markerBriefForm" class="para-font" action="/add-brief" method="POST"
                                enctype="multipart/form-data" onsubmit="displayUploadProgress();">

                                {{!-- using hidden input to store id of selected marker --}}
                                <input type="password" class="form-control" name="marker_id" id="selected-marker-id"
                                    readonly="true" hidden="true">
                                <input type="password" class="form-control" name="marker_title"
                                    id="selected-marker-title" readonly="true" hidden="true">
                                <input type="password" class="form-control" name="brief_id" id="brief-id"
                                    readonly="true" hidden="true">
                                <input type="password" class="form-control" name="current_media" id="current-media"
                                    readonly="true" hidden="true">

                                <div id="hide-while-upload-wrapper">

                                    <div class="row">

                                        <div class="col-3 fs-6 mb-3">
                                            <label class="form-check-label" for="select brief option">SELECT
                                                OPTION:</label>
                                        </div>
                                        <div class="col fs-6 mx-3">
                                            <input class="form-check-input cursor-pointer" type="radio"
                                                name="briefoption" id="brief-add" value="add" checked="true"
                                                onclick="toggleMarkerBriefForms(this.value)">
                                            <label class="form-check-label" for="brief-add">Add</label>
                                        </div>
                                        <div class="col fs-6 mx-3">
                                            <input class="form-check-input cursor-pointer" type="radio"
                                                name="briefoption" id="brief-edit" value="edit"
                                                onclick="toggleMarkerBriefForms(this.value)">
                                            <label class="form-check-label" for="brief-edit">Edit</label>
                                        </div>
                                        <div class="col fs-6 ml-3">
                                            <input class="form-check-input cursor-pointer" type="radio"
                                                name="briefoption" id="brief-delete" value="delete"
                                                onclick="toggleMarkerBriefForms(this.value)">
                                            <label class="form-check-label" for="brief-delete">Delete</label>
                                        </div>

                                    </div>

                                    <div class="mb-3">
                                        <label id="select-marker-label" for="select-marker-label"
                                            class="form-label fs-6">Select
                                            Marker:</label>
                                        <select id="select-marker-title" class="form-select" name="selectMarkerTitle"
                                            aria-label="select-marker-title" onchange="setSelectMarkerTitleId();"
                                            autocomplete="off" required="true">
                                            <option selected>Select Marker</option>
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label for="title-label-brief" id="title-label-brief"
                                            class="form-label fs-6">Title:</label>
                                        <input type="text" class="form-control" id="title-brief" name="title"
                                            aria-describedby="title-brief" placeholder="Enter Title" autocomplete="off"
                                            required="true">
                                    </div>

                                    <div class="form-check form-switch" id="copy-marker-title-wrapper">
                                        <input class="form-check-input cursor-pointer" type="checkbox"
                                            id="copy-marker-title">
                                        <label class="form-check-label" style="font-size: 13px;"
                                            for="copy-marker-title">Title same as marker title</label>
                                    </div>

                                    <div class="mb-3">
                                        <label for="brief-label" class="form-label fs-6">Brief:</label>
                                        <textarea id="ckeditor" name="brief" autocomplete="off"
                                            required="true">Enter Brief for your Marker!</textarea>
                                    </div>

                                    <div class="mb-3">
                                        <label for="media-label" id="media-label" class="form-label fs-6">Upload images
                                            and
                                            videos (max 10):</label>
                                        <input class="form-control" name="media" type="file" id="media" multiple="true"
                                            accept="image/*,video/*">
                                    </div>

                                    <div id="upload-new-media-wrapper" class="form-check form-switch" hidden="true">
                                        <input class="form-check-input cursor-pointer" type="checkbox"
                                            id="upload-new-media">
                                        <label class="form-check-label" style="font-size: 13px;"
                                            for="upload-new-media">Upload new media</label>
                                    </div>

                                </div>

                                <label id="upload-message" for="upload-message" class="form-label fs-6" hidden="true">
                                    This may take a while, have a coffee break ☕!
                                </label>
                                <div id="progress-wrapper" class="progress" hidden="true">
                                    <div id="brief-progress-bar" class="progress-bar" role="progressbar"
                                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%
                                    </div>
                                </div>

                                <div id="modal-footer-wrapper" class="modal-footer mt-4">
                                    <button id="marker-brief-close-button" type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal" onclick="mapScrollDragEnable();">Close</button>
                                    <button id="marker-brief-submit-button" type="submit"
                                        class="btn btn-dark">Submit</button>
                                </div>

                            </form>

                        </div>

                    </div>
                </div>
            </div>

            {{!-- Brief User Options Modal --}}
            <div class="modal fade" id="markerBriefUserModal" tabindex="-1" aria-labelledby="markerBriefUserLabel"
                aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title head-font" id="markerBriefUserLabel">User Options</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                onclick="mapScrollDragEnable();"></button>
                        </div>

                        <div class="modal-body">

                            <form id="userOptionsForm" class="para-font" action="/add-user-data"
                                enctype="multipart/form-data" method="POST">

                                {{!-- using hidden input to store id of users for edit --}}
                                <input type="password" class="form-control" name="user_id" id="user-id" readonly="true"
                                    hidden="true">
                                <input type="password" class="form-control" name="current_user_image"
                                    id="current-user-image" readonly="true" hidden="true">

                                <div class="mb-3">
                                    <label for="user-image-label" id="user-image-label" class="form-label fs-6">User
                                        Image:</label>
                                    <input class="form-control" name="userImage" type="file" id="user-image"
                                        accept="image/*" required="true">
                                </div>

                                <div class="form-check form-switch my-2" id="upload-new-user-image-wrapper"
                                    hidden="true">
                                    <input class="form-check-input cursor-pointer" type="checkbox"
                                        id="upload-new-user-image">
                                    <label class="form-check-label" style="font-size: 13px;"
                                        for="upload-new-user-image">upload new user image</label>
                                </div>

                                <div class="my-2">
                                    <label id="name-label" for="name" class="form-label fs-6">Name:</label>
                                    <input name="name" type="text" class="form-control" id="name"
                                        placeholder="Enter Your Name" autocomplete="off" required="true">
                                </div>

                                <div class="my-2">
                                    <label id="linkedin-label" for="linkedin" class="form-label fs-6">Linkedin:</label>
                                    <input name="linkedin" type="text" class="form-control" id="linkedin"
                                        placeholder="Enter Your Linkedin" autocomplete="off" required="true">
                                </div>

                                <div class="my-2">
                                    <label id="twitter-label" for="twitter" class="form-label fs-6">Twitter:</label>
                                    <input name="twitter" type="text" class="form-control" id="twitter"
                                        placeholder="Enter Your Twitter" autocomplete="off" required="true">
                                </div>

                                <div class="my-2">
                                    <label id="facebook-label" for="facebook" class="form-label fs-6">Facebook:</label>
                                    <input name="facebook" type="text" class="form-control" id="facebook"
                                        placeholder="Enter Your Facebook" autocomplete="off" required="true">
                                </div>

                                <div class="my-2">
                                    <label id="instagram-label" for="instagram"
                                        class="form-label fs-6">Instagram:</label>
                                    <input name="instagram" type="text" class="form-control" id="instagram"
                                        placeholder="Enter Your Instagram" autocomplete="off" required="true">
                                </div>

                                <div class="my-2">
                                    <label id="pinterest-label" for="pinterest"
                                        class="form-label fs-6">Pinterest:</label>
                                    <input name="pinterest" type="text" class="form-control" id="pinterest"
                                        placeholder="Enter Your Pinterest" autocomplete="off" required="true">
                                </div>

                                <div class="my-2">
                                    <label id="gmail-label" for="gmail" class="form-label fs-6">Gmail:</label>
                                    <input name="gmail" type="email" class="form-control" id="gmail"
                                        placeholder="Enter Your Gmail Id" autocomplete="off" required="true">
                                </div>

                                <div class="mb-3">
                                    <label id="footer-description-label" for="footer-description"
                                        class="form-label fs-6">Footer Description:</label>
                                    <textarea class="form-control" id="footer-description" name="footer_description"
                                        placeholder="Enter Footer Description" autocomplete="off"
                                        required="true"></textarea>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        onclick="mapScrollDragEnable();">Close</button>
                                    <button id="user-options-submit-button" type="submit" class="btn btn-dark"
                                        onclick="return userOptionsFormValidation();">Submit</button>
                                </div>

                            </form>

                        </div>

                    </div>
                </div>
            </div>

            {{!-- filter options modal --}}
            <div class="modal fade" id="filterOptionsModal" tabindex="-1" aria-labelledby="filterOptionsModalLabel"
                aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title head-font" id="filterOptionsModalLabel">Filter Options</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                onclick="mapScrollDragEnable();"></button>
                        </div>

                        <div class="modal-body para-font">

                            <div class="row row-cols-2 mb-2 fs-6">

                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input form-options-checkbox" name="showRemoveAll"
                                        type="radio" value="showall" id="showAll" onclick="executeAll(this.value);">
                                    <label class="form-check-label" for="showAll">
                                        Show All
                                    </label>
                                </div>

                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input form-options-checkbox" name="showRemoveAll"
                                        type="radio" value="removeall" id="removeAll" onclick="executeAll(this.value);">
                                    <label class="form-check-label" for="removeAll">
                                        Remove All
                                    </label>
                                </div>

                            </div>

                            <div class="row row-cols-3 px-3 fs-6">

                                {{#each categoryJsonData}}
                            
                                <div class="form-check">
                                    <input class="form-check-input" name="filterOptionsCategoryCheckboxes" type="checkbox" value="{{this._id}}" id="{{this.category}}">
                                    <label class="form-check-label" for="{{this.category}}">
                                        {{this.category}}
                                    </label>
                                </div>

                                {{/each}}
                            
                            </div>

                        </div>

                        <div class="modal-footer para-font">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                onclick="mapScrollDragEnable();">Close</button>
                            <button type="button" class="btn btn-dark">Filter</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </main>

    {{!-- using hidden input to pass all markers data, category data and brief data to markers.js file and index.js file
    and user data
    for the same --}}
    <input type="password" class="form-control" id="markerData" value="{{markerData}}" readonly="true" hidden="true">
    <input type="password" class="form-control" id="categoryData" value="{{categoryData}}" readonly="true"
        hidden="true">
    <input type="password" class="form-control" id="categoryrelationData" value="{{categoryrelationData}}"
        readonly="true" hidden="true">
    <input type="password" class="form-control" id="briefData" value="{{briefData}}" readonly="true" hidden="true">
    <input type="password" class="form-control" id="userData" value="{{userData}}" readonly="true" hidden="true">

    <!-- leaflet js -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    {{!-- ckeditor js --}}
    <script src="https://cdn.ckeditor.com/4.16.2/full-all/ckeditor.js"></script>
    <!-- javascript -->
    <script type="text/javascript" src="/js/marker.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>

</body>

</html>